<!DOCTYPE html>
<html>
<head>
    <title>Routers</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Add Router</h1>
    <form action="/add" method="POST">
        <label>Router IP:</label>
        <input type="text" name="router_ip" required><br><br>
        <label>Username:</label>
        <input type="text" placeholder="username" required><br><br>
        <label>Password:</label>
        <input type="password" placeholder="password" required><br><br>
        <button type="submit">Save</button>
  </form>

  <ul>
      {% for comment in routers %}
          <li>{{ router["router_ip"] }} | {{ router["username"] }} | {{ router["password"] }}</li>
      {% endfor %}
  </ul>
</body>
</html>
