❯ cat index.html 
<html>
<head>
    <title>Sample app</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>You are calling me from {{request.remote_addr}}</h1>
    <form method="POST" action="/add">
    <input name="name" placeholder="Enter Name" required />
    <input name="message" placeholder="Enter Message" required />
    <button type="submit">Add Comment</button>
  </form>

 <ul>
    {% for comment in data %}
      <li>
	       {{ comment.yourname }} - {{ comment.message }}	 
         <form method="POST" action="{{ url_for('delete_comment', idx=loop.index0) }}" style="display:inline">
      <button type="submit">Delete</button>
         </form>
      </li>
    {% endfor %}
  </ul>

</body>
</html>